[Unit]
Description=Cloudflare Tunnel for Greenhouse dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/cloudflared --no-autoupdate tunnel --config /etc/cloudflared/config.yml run
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
